<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find my_robot_description)/worlds/mazeone1.world" />
  </include>
  <param name="robot_description" command="$(find xacro)/xacro '$(find my_robot_description)/urdf/nevil.urdf'" />
  <!--<node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />-->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    args="-param robot_description -urdf -model robot"
    output="screen" />
    <node pkg="gmapping" type="slam_gmapping" name="turtlebot3_slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odem"/>
    <param name="map_frame"  value="map"/>
    <rosparam command="load" file="$(find turtlebot3_slam)/config/gmapping_params.yaml" />
  </node>
    
</launch>
