<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world" />
  </include>
  <param name="robot_description" command="$(find xacro)/xacro '$(find nevil)/urdf/nevil.urdf'" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    respawn="false"
    args="-param robot_description -urdf -model robot"
    output="screen" />
</launch>
